<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registros incompletos</title>
</head>
<body>
    <h2>Registros sin CURP detectado</h2>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>CVU</th>
            <th>CURP</th>
            <th>Nombre Completo</th>
            <th>RFC</th>
            <th>Correo</th>
            <th>Nacionalidad</th>
            <th>Fecha de Nacimiento</th>
        </tr>
        {% for r in registros %}
        <tr>
            <td>{{ r[0] }}</td> <!-- ID -->
            <td>{{ r[1] }}</td> <!-- CVU -->
            <td>{{ r[3] }}</td> <!-- CURP -->
            <td>{{ r[2] }}</td> <!-- Nombre Completo -->
            <td>{{ r[4] }}</td> <!-- RFC -->
            <td>{{ r[5] }}</td> <!-- Correo -->
            <td>{{ r[6] }}</td> <!-- Nacionalidad -->
            <td>{{ r[7] }}</td> <!-- Fecha de Nacimiento -->
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="/">⬅ Volver al inicio</a>
</body>
</html>
